
.lib-main{
    padding: 0;
    margin: 0;
    height: 85vh;
    display: flex;
}
.lib-left{
    width: 20%;
    background-color: #006BFF;
    display: grid;
    justify-content: center;
}
.lib-right{
    width: 80%;
    background-color: #006BFF;
    display: grid;
    padding: 0.8rem;
}

.button-all{
    height: 67vh;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
    font-size: 2rem;
    font-weight: 600;
    width: 22rem;
    height: 4.5rem;
    border-radius: 0.8rem;
    color: black;
    background-color: white;
}
.button2{
    display: grid;
    justify-content: center;
    margin-top: 0.8rem;
    font-size: 2rem;
    font-weight: 600;
    width: 22rem;
    height: 16.1rem;
    border-radius: 0.8rem;
    color: black;
    background-color: white;
}
.button2 p {
    margin-top: 0.3rem;
    display: flex;
    justify-content: center;
}
.sub-element{
    width: 20rem;
    height: 13rem;
    margin-top: -2rem;
    display: grid;
}
.sub-el{
    font-size: 1.3rem;
    height: 2.3rem;
    background-color: white;
    font-weight:400;
    border-radius: 2rem;
    width: 20rem;
}
.sub-el p{
    margin-left: 0;
}
.sub-el:hover{
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}
.main-user{
    display: flex;
    align-items: center;
    margin-bottom: -8rem;
    font-size: 1.8rem;
    font-weight: 600;
    width: 22rem;
    height: 4.5rem;
    padding: 0;
    border-radius: 0.8rem;
    background-color: white;
}
.main-user p{
    margin-left: 2rem;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 600;
    width: 15rem;
    height: 4.5rem;
    border-radius:  0.8rem 0.8rem 0 0;
    background-color: transparent;
    margin-right: 0.1rem;
    color: white
}
.menu1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 600;
    width: 15rem;
    height: 4.5rem;
    border-radius:  0.8rem 0.8rem 0 0;
    background-color: #D5EAFF;
    margin-right: 0.1rem;
}
.menu2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    margin-left: 16rem;
    font-weight: 600;
    width: 15rem;
    height: 4.5rem;
    border-radius: 0.8rem;
    background-color: transparent;
    color: white
}
.lib-right-menu{
    display: flex;
    height: 4.5rem;
}
.lib-right-main{
    background-color: #D5EAFF;
    margin-top: -0.2rem;
    display: grid;
    justify-content: center;
    border-radius: 0.8rem;
    height: 44.5rem;
}
.main-file1{
    display: flex;
    align-items: center;
}
.main-file{
    height: 19rem;
    width: 13rem;
    background-color: transparent;
    margin-right: 1.5rem;
    display: grid;
    justify-content: center;
}
.main-file text{
    color: black;
    font-size: 1.5rem;
}
.main-file text1{
    color: black;
    font-size: 1rem;
}
.image{
    height: 15rem;
}
.logo{
    height: 100%;
    border-radius: 0.8rem;
}
.lib-assign{
    height: 40.5rem;
    width: 90rem;
    margin-top: 2rem;
    background-color: white;
    border-radius: 0.8rem;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    display: grid;
    justify-content: center;
}
.lib-ass-head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    width: 88rem;
    margin-top: 1rem;
    background-color: transparent;
    border-radius: 0.6rem;
    font-size: 1.5rem;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}
.lib-ass-head p{
    display: flex;
    align-items: center;
}
.lib-ass-cont{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 33.5rem;
    width: 88rem;
    margin-top: 0rem;
    background-color: transparent;
    border-radius: 0.6rem;
    font-size: 1.5rem;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}
.lib-a-ele{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3.5rem;
    width: 87.2rem;
    margin-top: 0rem;
    background-color: transparent;
    border-radius: 0.4rem;
    font-size: 1.5rem;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}
.download-logo{
    height: 4rem;
    margin-left: -7rem;
    margin-top: 0.3rem;
}